/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

/* @layer base {
  body {
    @apply font-heebo;
  }
} */